/* styling */
body {
    background-image: url("https://www.muralswallpaper.com/app/uploads/black-marble-textures-plain.jpg");
}
.movieTitle,
.movieInfo,
.moviePrice {
    padding: 0 5%;
}

.movieTitle {
    margin-top: 5%;
}
