/* styling */
body {
    background-image: url("https://www.muralswallpaper.com/app/uploads/black-marble-textures-plain.jpg");
}
.color-card {
    border: 10px solid;
    border-bottom-color: darkblue;
    border-top-color: blue;
    border-right-color: blueviolet;
    border-left-color: aqua;
}

.movieTitle,
.movieInfo,
.moviePrice,
.movieStock {
    padding: 0 5%;
}

img {
    max-width: 229px;
    max-height: 346px;
    width: 176.493px;
    height: 266.667px;
}

legend {
    background-color: white;
    color: black;
    padding: 3px 6px;
    margin-top: 5px;
    /* border: 3px solid;
    border-bottom-color: darkblue;
    border-top-color: blue;
    border-right-color: blueviolet;
    border-left-color: aqua; */
}
.card {
    border: 8px solid;
    border-bottom-color: darkblue;
    border-top-color: blue;
    border-right-color: blueviolet;
    border-left-color: aqua;
}
